@import url('https://fonts.googleapis.com/css2?family=Zhi+Mang+Xing&display=swap');

.blog-img {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
  background-size: cover;
  background-repeat: no-repeat; /* 防止背景图像重复 */
  background-position: center center; /* 将背景图像居中对齐 */
}

.blog-img-back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  transition: opacity 0.25s ease;
  background-position: center center;
}

.blog-title {
  font-family: 'Zhi Mang Xing', cursive;
  font-size: 100px;
  color: lightgreen;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* 添加阴影 */;
  z-index: 999;
}

.down-icon {
  position: absolute;
  bottom: 10%;
  font-size: 50px;
  color: #228B22;
  animation: floatAnimation 2s ease-in-out infinite;
}

.up-icon {
  position: fixed;
  bottom: 3%;
  right: 3%;
  font-size: 50px;
  color: #228b22;
  z-index: 1000
}

@keyframes floatAnimation {
  0%, 100% {
    transform: translateY(0); /* 初始和结束位置 */
  }
  50% {
    transform: translateY(-10px); /* 浮动的高度 */
  }
}

.dynamic-text {
  font-size: 16px;
  margin-top: 20px;
  color: black;
}